<?xml version="1.0" encoding="windows-1251"?>
<setting><calibration factor="0,99" passageTime="7,4"/><connection><serverProgId>arOPC.arOpcServer.1</serverProgId><updateRate>50</updateRate><tagWeight>shm2010.in.weight</tagWeight><tagStatus>shm2010.in.status</tagStatus></connection><resources><resource id="1" name="Граншлак"/><resource id="2" name="Отходы"/><resource id="3" name="Прокачка шлаковой"/><resource id="4" name="Ракушка мешанная №1"/><resource id="5" name="Ракушка мешанная №2"/><resource id="6" name="Ракушка мешанная №3"/><resource id="7" name="Ракушка мешанная №4"/><resource id="8" name="Ракушка мешанная №5"/><resource id="9" name="Ракушка темная"/><resource id="10" name="Тарировка"/><resource id="11" name="Шлаковая добавка"/></resources><shifts><shift id="1" timeHourStart="7" timeHourEnd="19"/><shift id="2" timeHourStart="19" timeHourEnd="7"/></shifts></setting>
